<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="item in names">{{item}}</li>
      <li v-for="(item, index) in names">{{index + 1}}.{{item}}</li>
      <li v-for="item in info">{{item}}</li>
      <li v-for="(value, key, index) in info">{{value}} - {{key}} - {{index}}</li>
    </ul>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        names: ['张三', '李四', '王五', '林一','张含韵','周杰伦'],
        info: {
          'name': 'Ben',
          'age': 26,
          'height': 168
        }
      }
    })
  </script>
</body>
</html>