<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <label for="license">
            <input type="checkbox" id="license" v-model="isAgree">同意协议
        </label>
        <h2>你选择的性别是：{{isAgree}}</h2>
        <button :disabled="!isAgree">下一步</button> -->
        <!-- 多选框 -->
        <input type="checkbox" value="篮球" v-model="hobbies">篮球
        <input type="checkbox" value="足球" v-model="hobbies">足球
        <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
        <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
        <input type="checkbox" value="排球" v-model="hobbies">排球
        <h2>您的爱好是{{hobbies}}</h2>

    </div>        
    <script type="text/javascript" src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                isAgree: true,
                hobbies: []
            }
        })
    </script>
</body>
</html>